In [1]:
from stock_data import StockData
from features import IndicatorsFeatureList
from features import FeatureFactory
import pandas as pd

In [2]:
stock_data = StockData(data_path="data\csv\YNDX.csv")

In [3]:
stock_data[pd.Timestamp("2021-02-04"):pd.Timestamp("2022-02-04")]

                  low       open   volume       high      close
date
2021-04-01  68.699997  70.839996  2120400  71.169998  69.750000
2021-05-01  69.470001  69.559998  2217200  72.949997  72.160004
2021-06-01  69.500000  70.599998  2272400  71.120003  70.110001
2021-07-01  68.760002  70.269997  1222300  71.000000  70.900002
2021-08-01  70.099998  71.650002  1774700  72.029999  70.900002
...               ...        ...      ...        ...        ...
2022-01-04  18.940001  18.940001        0  18.940001  18.940001
2022-01-06  18.940001  18.940001        0  18.940001  18.940001
2022-01-07  18.940001  18.940001        0  18.940001  18.940001
2022-01-08  18.940001  18.940001        0  18.940001  18.940001
2022-01-09  18.940001  18.940001        0  18.940001  18.940001

[250 rows x 5 columns]

In [4]:
indicators_features = IndicatorsFeatureList()
FeatureFactory.preprocess(stock_data, indicators_features)

In [8]:
close = stock_data[pd.Timestamp("2021-02-04"):pd.Timestamp("2022-02-04")].close

In [15]:
close.rolling(5).agg("median")

date
2021-04-01          NaN
2021-05-01          NaN
2021-06-01          NaN
2021-07-01          NaN
2021-08-01    70.900002
                ...
2022-01-04    18.940001
2022-01-06    18.940001
2022-01-07    18.940001
2022-01-08    18.940001
2022-01-09    18.940001
Name: close, Length: 250, dtype: float64